.shop-item-page {
  margin: 0 15%;
  border: white solid 1px;
  height: 1000px;

  .shop-item-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 50% 50%;

    // .shop-item-img-container {
    // justify-self: center;
    // width: 100%;
    // display: flex;
    // }
  }
}
