.shop-item-page {
  .shop-item-container {
    // margin-top: 30px;
    display: grid;
    grid-template-columns: 70% 30%;

    // .shop-item-img-container {
    // justify-self: center;
    // width: 100%;
    // display: flex;
    // }
  }
  @media screen and (max-width: 1024px) {
    .shop-item-container {
      grid-template-columns: 1fr;
    }
  }
  @media screen and (max-width: 576px) {
    .shop-item-container {
      display: block;
    }
  }
}
