.courseBox {
  width: 100%;
  // text-align: center;
  font-size: 1rem;
  line-height: 2.5rem;
  border: 1px solid #1178B8;
  margin: 5px;
  position: relative;

  .jumpWindow {
  
    position: absolute;
    top: 0;
  }

  .btn {
    width: 90px;
    height: 35px;
    display: inline-block;
    //  text-align: center;
  }

  .booking {
    border: 2px solid #FFC100;
    border-radius: 50px;
    color: #FFC100;
    line-height: 35px;
    display: inline-block;
  }
}