.cart-item {
  width: 95%;
  display: flex;
  height: 150px;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
  transition: all 0.4s;
  &:hover {
    transform: translateY(5%);
    box-shadow: 5px 5px 8px gray;
    // border: black 1px solid;
  }
  // justify-content: center;

  .cart-item-delete {
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;

    &:hover {
      width: 60px;
    }
  }

  .cart-item-img {
    width: 40%;
    height: 100%;
    object-fit: cover;
  }

  .item-details {
    width: 60%;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    padding-left: 10px;
    position: relative;

    .name {
      font-size: 1rem;
    }
    .flavor {
      font-size: 14px;
      margin-bottom: 10px;
    }
    .delete {
      border-bottom: 1px solid transparent;
      transition: all 0.5s;
      font-size: 12px;
      position: absolute;
      bottom: 5px;
      right: 5px;
      &:hover {
        border-bottom: 1px solid blueviolet;
      }
    }
  }
}
