label {
    padding: 0;
    margin-right: 30px;
    cursor: pointer;
  
    .radio {
      display: none;
    }
  
    .span {
      display: inline-block;
      background-color: rgb(255, 255, 255);
      padding: 3px 6px;
      border: 1px solid gray;
      color: black;
      user-select: none;
    }
  }
  
  .radio:checked + .span {
    color: rgb(255, 255, 255);
    background-color: rgb(187, 118, 129);
  }