.like-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;

  .like-count {
    position: absolute;
    color: white;
    font-size: 10px;
    top: 30%;
  }
}
