.quan {
  color: black;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-content: center;
  list-style: none;
}

.text {
  width: 35px;
  height: 35px;
  text-align: center;
}
.content-wrap-ul-ls {
  padding: 60px;
  grid-template-columns: 1fr;
  list-style: none;
}
