.filter-button-container {
    position: relative;

    .filter-button {
        cursor: pointer;
        // width: 50px;
        border: none;
        color: black;
        background-color: #e3e3e3;
        span {
            margin-right: 2px;
            font-size: 16px;
        }
        &:hover {
            text-decoration: underline;
            color: plum;
        }
    }

    .filter-dropdown {
        position: absolute;
        top: 30px;
        right: 0;
        width: 160px;
        height: 70px;
        background-color: #e3e3e3;
        border: 1px black solid;
        z-index: 3;

        &.filter-dropdown-custom {
            height: 100px;

            .cancel-filter-li {
                // width: 50%;
                display: flex;
                margin: 0 10px;
                justify-content: center;
                cursor: default;
                span {
                    cursor: pointer;
                    font-size: 12px;
                    padding-bottom: 3px;
                    border-bottom: 1px solid transparent;
                    transition: all 0.5s;
                    &:hover {
                        border-bottom: 1px solid blueviolet;
                    }
                }
            }
        }

        ul {
            list-style: none;
            color: black;
            .filter-list {
                margin: 10px 0 10px 10px;
                cursor: pointer;
                &:hover {
                    color: blueviolet;
                    font-weight: bolder;
                }
            }
            .price-selected {
                color: blueviolet;
                font-weight: bold;
            }

            .selected {
                color: blueviolet;
                font-weight: 600;
            }
            .disabled {
                pointer-events: none; //This makes it not clickable
                opacity: 0.6; //This grays it out to look disabled
            }
        }
    }
}
