.slide-in-top {
  &-enter {
    width: 0;
    opacity: 0;
    &-active {
      width: 100vw;
      opacity: 1;
      transition: all 400ms;
    }
  }
  &-exit {
    width: 100vw;
    &-active {
      width: 0;
      opacity: 0;
      transition: all 1500ms;
    }
  }
}
.sub-div {
  position: fixed;
  top: 6.5rem;
  left: 0;
  width: 100vw;
  height: 30vh;
  background-color: white;
  border: black 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -5;
  a {
    color: black;
    margin: 10px 0;
  }
  .top-sub-div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
      padding-bottom: 5px;
      // transition: all 0.3s;

      &:hover {
        // transform: scale(1.1) translateY(-5px);
        padding-bottom: 2px;
        border-bottom: 3px #1178b8 solid;
      }
    }
  }

  .side-sub-div {
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 20% 0 0 30%;
    display: none;
    width: 100%;
    height: 100%;
    h2 {
      cursor: pointer;
      font-size: 18px;
      padding-bottom: 5px;
      // display: inline-block;
      &:hover {
        padding-bottom: 2px;
        border-bottom: 3px #1178b8 solid;
      }
    }

    .side-sub-link-container {
      display: flex;
      flex-direction: column;
      // width: 100%;
      height: 30%;
      padding: 10px 0 10px 30%;

      a {
        cursor: pointer;
        font-size: 16px;
        padding-bottom: 5px;
        // display: inline-block;
        &:hover {
          padding-bottom: 2px;
          border-bottom: 3px #1178b8 solid;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .slide-in-top {
    &-enter {
      transform: translateX(-100%);
      opacity: 0;
      &-active {
        transform: translateX(0%);
        opacity: 1;
        transition: all 400ms;
      }
    }
    &-exit {
      transform: translateX(0%);
      &-active {
        transform: translateX(-100%);
        opacity: 0;
        transition: all 400ms;
      }
    }
  }

  .sub-div {
    top: 4.5rem;
    width: 35vw;
    height: calc(100vh - 4.5rem);

    .top-sub-div {
      display: none;
    }

    .side-sub-div {
      display: flex;
    }
  }
}

@media screen and (max-width: 576px) {
  .sub-div {
    width: 75vw;
  }
}
