.collection-page {
  // margin: 0 au;
  border: white solid 1px;
  // height: 1000px;

  .filter-bar-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .collection-title {
    margin-bottom: 2rem;
  }

  .collection-container {
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 50px;
    // grid-gap: 10px;
    justify-items: center;
  }
  @media screen and (max-width: 768px) {
    .collection-container {
      grid-template-columns: 1fr 1fr;
      // column-gap: 10px;
    }
  }
  @media screen and (max-width: 1024px) {
    .collection-container {
      grid-template-columns: 1fr 1fr 1fr;
      // column-gap: 10px;
    }
  }
  @media screen and (max-width: 576px) {
    .collection-container {
      grid-template-columns: 1fr;
    }
  }
}
