.select-type {
  margin-top: 20px;
  cursor: pointer;
  color: #6f6a66;
  border: 1px solid #646565;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background: #fff;
  font-size: 14px;
  margin-bottom: 5px;
  line-height: 1;
  width: 155px;

}

.select-coupon-type {
    width: 155px;
    margin-top: 20px;
  cursor: pointer;
  color: #6f6a66;
  border: 1px solid #646565;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background: #fff;
  font-size: 14px;
  margin-bottom: 5px;
  line-height: 1;
  text-align: center;
}
