$btn-color: rgb(252, 237, 196);
$color: rgb(70, 70, 70);
$font: 14px;

.form-box {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1260px;
  height: 80vh;
  //   border: 2px solid pink;
  background: #5f5f5f;
  box-shadow: 0px 3px 5px black;
  font-size: $font;
  position: relative;
  .left {
    width: 630px;
  }

  .right {
    width: 630px;
  }

  .submit {
    display: block;
    border: 2px solid $btn-color;
    color: $color;
    background: rgb(255, 255, 255);
    margin: 0 auto;
    padding: 10px 60px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:hover {
      background: $btn-color;
      color: $color;
    }
  }
}