.slide-in-right {
  &-enter {
    transform: translateX(100%);
    &-active {
      transform: translateX(0);
      opacity: 1;
      transition: all 200ms;
    }
  }
  &-exit {
    transform: translateX(0%);
    &-active {
      transform: translateX(100%);
      opacity: 0;
      transition: all 200ms;
    }
  }
}

.cart-dropdown {
  position: fixed;
  width: 30vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 20px rgb(116, 115, 111);
  background-color: #e3e3e3;
  top: 0;
  right: 0;
  z-index: 100;

  .under-line {
    width: 80%;
    margin: 5px auto;
    height: 2px;
    background-color: black;
  }

  h3 {
    width: 80%;
    margin: 10px auto;
  }
  .cart-icon-fav-container {
    width: 100%;
    height: 6.5rem;
    background-color: black;
    padding-right: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }

  .cart-items-dropdown-container {
    // border: black 1px solid;
    width: 80%;
    height: 35%;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    // justify-content: center;
    // &::-webkit-scrollbar {
    //   width: 10px;
    // }
    // &::-webkit-scrollbar-track {
    //   background: black;
    // }
    // &::-webkit-scrollbar-thumb {
    //   background: #888;
    // }
    // &::-webkit-scrollbar-thumb:hover {
    //     background: #555;
    // }
  }
  button {
    margin: 0 auto;
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  .cart-dropdown {
    width: 50vw;
  }
}
