.collection-page {
  margin: 0 15%;
  border: white solid 1px;
  // height: 1000px;

  .collection-title {
    margin: 10px 10px 30px;
  }

  .collection-container {
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    // grid-gap: 10px;
    justify-items: center;
  }
}
