.custom-button {
  //   min-width: 165px;
  //   width: auto;

  width: 60%;
  height: 40px;
  letter-spacing: 0.5px;
  //   line-height: 45px;
  font-size: 16px;
  background-color: transparent;
  border: #1178b8 3px solid;
  // border-radius: 10px;
  color: #1178b8;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #1178b8;
    color: white;
    // border: 1px solid black;
  }
  // &:active {
  //   border: rgb(216, 71, 173) 3px solid;
  // }

  // &.google-sign-in {
  //   background-color: rgb(216, 71, 173);
  //   color: white;

  //   &:hover {
  //     background-color: purple;
  //     border: none;
  //   }
  // }
  &.shop-count-btn {
    width: 30%;
    height: 40px;
  }
}
