@import "../CartList.scss";
.content-wrap-ul {
  list-style: none;
  display: grid;
  grid-template-columns: 0.8fr 0.8fr 0.75fr 0.75fr 0.5fr 0.5fr 0.5fr;
  border-top: 1px solid #f2f3f5;
  font-size: 14px;
  padding: 40px 0;
  align-items: center;
}

.fav-wrap-ul {
  @extend .content-wrap-ul;
  grid-template-columns: 0.8fr 0.75fr 0.75fr 0.5fr 0.5fr;
}
.fav-content-wrap {
  @extend .content-wrap;
  width: 100%;
}
.icon-list {
  padding: 0;
}
.icon-list a {
  margin: 10px;
}
.objectFit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
