@import "../Order-CartList/CartList.scss";
@import "../OrderList/OrdessrList.scss";

.step2-active-extend {
  @extend .step2-active;
  background-position: -288px -68px;
}

.content-list-detail-input {
  border: 1px solid #e8e8e8;
  padding: 0 0 0 10px;
  display: block;
  height: 40px;
}

.content-list-detail-select {
  border: 1px solid #e8e8e8;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
.content-list-detail {
  display: grid;
  padding: 15px;
  grid-gap: 18px;
}
.content-list-title {
  text-align: left;
  display: block;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 10px;
  padding: 15px 15px 15px 15px;
  font-size: 26px;
}

.content-wrap-Checkoutpage {
  border-bottom: 1px solid #e8e8e8;
  width: 70%;
  text-align: center;
}

.detail-select {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 23px;
}
.content-wrap-Checkoutpage-recipient-district {
  @extend .content-wrap-Checkoutpage;
  margin: 0;
  width: 100%;
}
.recipient-district-input {
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
}
.recipient-district-input input {
  width: 23px;
  height: 23px;
  margin-top: 7px;
  margin-right: 20px;
}
