.shop-item-img {
  width: 100%;
  padding: 0 5%;
  // height: 60vh;
}

.shop-item-imgs-container {
  display: flex;
  padding: 1rem 5% 0;

  img {
    width: 32%;
    height: 18vh;
    margin-right: 2%;
    cursor: pointer;
  }
  .seletBorder {
    border: solid 5px purple;
  }
}
