.container {
  width: 1260px;
  min-height: 100%;
  margin: 0 auto;
}
.content {
  width: 90%;
  display: flex;
  margin: 0 auto;
  margin-top: 60px;
  justify-content: center;
}

.content-left {
  order: 1;
  width: 100%;
  margin-right: 20px;
  padding: 0;
  display: grid;
  grid-template-columns: row;
}

.footer {
  margin-top: 10px;
  width: 100%;
  display: block;
  min-height: 100px;
  background-color: #e0e0e0;
}
.title {
  width: 100%;
  background-color: #505763;
  height: 135px;
  color: darkgray;
}
.title-cotainer {
  width: 60%;
  margin: 0 auto;
}

.title-ol {
  list-style: none;
  display: flex;
  font-size: 14px;
  text-align: left;
  padding: 0;
  padding-top: 20px;
  padding-left: 15px;
  margin: 0;
}
.title-ol li {
  margin-left: 10px;
}

.title-cotainer h3 {
  padding-left: 26px;
  width: 80%;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.287;
  margin: 0;
}
.step {
  width: 100%;
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0px;
  font-size: 14px;
  margin-top: 20px;
}
.step li {
  margin: 0 55px;
}
.step1-active {
  width: 288px;
  background-color: silver;
  height: 65px;
  background-image: url(//s.azurecdns.com/sff/pazzo/static/img/img-cart-step-new.png);
  background-repeat: no-repeat;
  background-position: -288px 0px;
}
.objectFit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.step2-active {
  width: 250px;
  background-color: silver;
  height: 65px;
  background-image: url(//s.azurecdns.com/sff/pazzo/static/img/img-cart-step-new.png);
  background-repeat: no-repeat;
  background-position: 0 -68px;
}
.step3-active {
  width: 250px;
  background-color: silver;
  height: 65px;
  background-image: url(//s.azurecdns.com/sff/pazzo/static/img/img-cart-step-new.png);
  background-repeat: no-repeat;
  background-position: 0 -136px;
}
.content-wrap {
  width: 70%;
  padding: 0;
  text-align: center;
}
.content-wrap-ul {
  list-style: none;
  display: grid;
  grid-template-columns: 0.8fr 0.8fr 0.75fr 0.75fr 0.5fr 0.5fr 0.3fr;
  border-top: 1px solid #f2f3f5;
  font-size: 14px;
  padding: 40px 0;
  align-items: center;
}
.icon-list {
  padding: 0;
}
.icon-list a {
  margin: 10px;
}
.content-list {
  display: block;
  padding-bottom: 20px;
  line-height: 10px;
}

img {
  cursor: pointer;
}

.content-Cartlist-title {
  display: block;
  text-align: left;
  font-size: 26px;
  margin-bottom: 10px;
  padding: 15px 15px 15px 15px;
}
