.shop-item {
  width: 300px;
  height: 400px;
  position: relative;
  // border: white 1px solid;
  .slick-list {
    border: black 1px solid !important;
  }
  .shop-item-slider-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
  }
  .shop-item-info {
    padding-top: 5px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    span {
      font-size: 14px;
      margin: 10px 0;
    }
    .shop-item-price {
      margin-bottom: 10px;
    }

    .shop-fav-container {
      position: absolute;
      right: 0;
      top: 305px;
    }
  }
}

@media screen and (max-width: 1440px) {
  .shop-item {
    width: 275px;
    // height: 350px;
  }
}

@media screen and (max-width: 1440px) {
  .shop-item {
    width: 260px;
    // height: 350px;
  }
}

@media screen and (max-width: 768px) {
  .shop-item {
    width: 295px;
  }
}
