// @import "~bootstrap/scss/bootstrap";
body {
    font-family: "Open Sans Condensed", sans-serif;
    overflow-x: hidden;
    // background: #e3e3e3;
    // color: black;
}

main {
    width: 1260px;
    margin: 0 auto;
    // border: black solid 1px;
}

a {
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.space {
    height: 9rem;
}
@media screen and (max-width: 1260px) {
    main {
        width: 80vw;
    }
}

@media screen and (max-width: 576px) {
    main {
        width: 95vw;
    }
    .space {
        height: 7rem;
    }
}

.next-arrow,
.prev-arrow {
    z-index: 4;
    position: absolute;
    top: 40%;
    background: transparent;
    outline: transparent;
    border: transparent;
    cursor: pointer;
    font-size: 2rem;
    color: #1178b8;
    transition: 0.5s;
    opacity: 0.7;
    &:hover {
        transform: translateY(5px);
        text-shadow: white 3px 4px 5px;
        opacity: 1;
        // box-shadow: 5px 5px 6px gray;
    }
}
.next-arrow {
    right: 5px;
}
.prev-arrow {
    left: 5px;
}

.slick-dots {
    bottom: 0 !important;

    li button:before {
        color: #1178b8 !important;
    }
}
