body {
    font-family: "Open Sans Condensed", sans-serif;
    overflow-x: hidden;
    background: black;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.space {
    height: 6.6rem;
}

.next-arrow,
.prev-arrow {
    z-index: 4;
    position: absolute;
    top: 40%;
    background: transparent;
    outline: transparent;
    border: transparent;
    cursor: pointer;
    font-size: 3rem;
    color: black;
    transition: 0.5s;
    opacity: 0.7;
    &:hover {
        transform: translateY(5px);
        text-shadow: white 3px 4px 5px;
        opacity: 1;
        // box-shadow: 5px 5px 6px gray;
    }
}
.next-arrow {
    right: 0;
}

.slick-dots {
    bottom: 0 !important;

    li button:before {
        color: purple !important;
    }
}
