.VideoContainer {
  max-width: 100%;
  min-height: calc(100vh-104px);
  margin: 0 auto;
  position: relative;
  display: flex;
}
.HomePageContainer {
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}
.HomePageNewsContainer {
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
  //   background-color: black;
}

.objcetFit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video {
  max-width: 100%;
  min-height: 100%;
  margin: 0 auto;
  pointer-events: none;
}
.VideoScroll {
  position: absolute;
  width: 40%;
  bottom: -105px;
  left: 20%;
  transition: 1.44s;
  color: rgb(202, 197, 197);
}
.VideoScroll h3 {
  font-size: 50px;
  line-height: 80px;
}

.VideoScroll span {
  font-size: 25px;
  line-height: 36px;
  text-align: left;
}
.NewsPageContainer {
  padding-top: 60px;
  display: flex;
  justify-content: space-evenly;
}

.ImgContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  margin-right: 200px;
}
.GYMImagePhotos {
  width: 80%;
  height: 800px;
  position: relative;
}
.GYMImagePhotos2 {
  width: 40%;
  height: 40%;
  margin-top: 120px;
  margin-left: 150px;
  position: absolute;
}

.NewsFont {
  width: 20%;
  margin-right: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.NewsFont .NewsFontIntroduction {
  font-size: 25px;
  line-height: 36px;
}
.title {
  color: #000000;
  font-size: 1.3em;
  margin-bottom: 1.5em;
  font-weight: 600;
  line-height: 1.3;
  width: 700px;
}
.title .news {
  display: block;
  font-size: 3em;
  color: #aaa;
  position: relative;
}
.title .news:before,
.title .news:after {
  content: "";
  position: absolute;
  top: 50%;
  background: #aaa;
  width: 25%;
  height: 1px;
}
.title .news:before {
  position: absolute;
  left: -30%;
}
.title .news:after {
  position: absolute;
  right: -10%;
}

//=== Drawing effect
@mixin btn-border-drawing(
  $color: #ccc,
  $hover: black,
  $width: 2px,
  $vertical: top,
  $horizontal: left,
  $duration: 0.25s
) {
  box-shadow: inset 0 0 0 $width $color;
  color: $color;
  transition: color $duration $duration/3;
  position: relative;

  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;

    #{$vertical}: 0;
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == "left", "right", "left");

    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }

  &::after {
    $v-side: if($vertical == "top", "bottom", "top");

    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }

  &:hover {
    color: $hover;

    &::before,
    &::after {
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }

    &::before {
      transition-delay: 0s, 0s, $duration;
    }

    &::after {
      transition-delay: 0s, $duration, 0s;
    }
  }
}

.draw-border {
  @include btn-border-drawing(#fecc2f, #1178b8, 4px, bottom, right);
}

//=== Button styling, semi-ignore
.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem "Roboto Slab", sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
  &:focus {
    outline: 2px dotted #1178b8;
  }
}
//=== Pen styling, ignore

.ProductBoxPageContainer {
  margin: 0 auto;
  max-width: 80%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.CoachTitle {
  display: flex;
  font-size: 36px;
  justify-content: center;
  align-self: flex-end;
  width: 100%;
}

.CoachBoxPageContainer {
  @extend .ProductBoxPageContainer;
  margin: 0 auto;
  max-width: 100%;
  background: url("https://photo.orsoon.com/180623/JPG-180623A_397/12FiyCbihs_small.jpg")
    no-repeat;
  background-size: cover;
  position: relative;
  height: 1000px;
  margin-top: 40px;
}
.bg-text {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  min-height: 100%;
  flex-wrap: wrap;
  width: 100%;
}

.ProductBox {
  // grid-column: 1;
  margin-top: 40px;
  width: 20%;
  height: 250px;
  // border: 1px solid red;
  transform: skewX(-5deg);
  position: relative;
  z-index: 2;
  box-shadow: 1px 1px 1px black;

  .nameShadow {
    width: 100%;
    height: 50px;
    opacity: 0.55;
    position: absolute;
    bottom: 0;
    z-index: 1;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.25rem;
    line-height: 50px;
  }
  span {
    opacity: 1;
    color: black;
  }
}

.CoachBox {
  @extend .ProductBox;
  width: 250px;
  height: 680px;
  margin-left: 60px;
  margin-bottom: 40px;
  transition-property: (padding margin);
  transition-duration: (1.2s);
  box-shadow: transparent;
}

//控制教練課程動畫邊條長度
@mixin aninmaite($left) {
  &.grd {
    font-size: 20px;
    transition: all 1.2s linear;
    position: relative;
    text-decoration: none;
  }
  &.grd:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    bottom: 2px;
    width: 50%;
  }
  &.grd span:nth-child(1) {
    position: absolute;
    top: 0;
    left: $left;
    width: 100%;
    height: 10px;
    background: -moz-linear-gradient(
      left,
      rgba(125, 185, 232, 0) 0%,
      #fecc2f 100%
    );
    background: -webkit-linear-gradient(
      left,
      rgba(125, 185, 232, 0) 0%,
      #fecc2f 100%
    );
    background: linear-gradient(
      to right,
      rgba(125, 185, 232, 0) 0%,
      #fecc2f 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr="#007db9e8",
        endColorstr="#1e5799",
        GradientType=1
      );
    animation: animate3 1.55s linear;
    animation-iteration-count: 2.5;
    animation-fill-mode: forwards;
  }

  @keyframes animate1 {
    0% {
      transform: translateX(-75%);
    }
    33% {
      transform: translateX(0%);
    }
    66% {
      transform: translateX(0%);
    }
    99% {
      transform: translateX(-75%);
    }
  }
  &.grd span:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: $left;
    width: 100%;
    height: 10px;
    background: -moz-linear-gradient(
      left,
      #fecc2f 0%,
      rgba(125, 185, 232, 0) 100%
    );
    background: -webkit-linear-gradient(
      left,
      #fecc2f 0%,
      rgba(125, 185, 232, 0) 100%
    );
    background: linear-gradient(
      to right,
      #fecc2f 0%,
      rgba(125, 185, 232, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr="#1e5799",
        endColorstr="#007db9e8",
        GradientType=1
      );
    animation: animate3 1.55s linear;
    animation-iteration-count: 2.5;
    animation-fill-mode: forwards;
  }

  @keyframes animate3 {
    0% {
      transform: translateX(0%);
    }
    33% {
      transform: translateX(-75%);
    }
    66% {
      transform: translateX(-75%);
    }
    99% {
      transform: translateX(0%);
    }
  }
}
.Coach:hover {
  margin-right: 250px;
  background-color: transparent;
  border: transparent;
  box-shadow: transparent;
  &::after {
    content: "專長\A Specialty Expertise \A體態調整、矯正訓練、\A運動傷害防護、肌筋膜\A鬆動術、運動按摩、\A體適能訓練";
    white-space: pre;
    font-size: 25px;
    position: absolute;
    top: 0%;
    left: 110%;
    width: 90%;
    height: 1px;
  }
  @include aninmaite(75%);
}
.Coach4:hover {
  margin-left: 300px;
  &::after {
    content: "專長\A Specialty Expertise \A體態調整、矯正訓練、\A運動傷害防護、肌筋膜\A鬆動術、運動按摩、\A體適能訓練";
    white-space: pre;
    font-size: 25px;
    position: absolute;
    top: 0%;
    right: 110%;
    width: 100%;

  }

  &.grd {
    font-size: 20px;
    transition: all 1.2s linear;
    position: relative;
    text-decoration: none;
  }

  &.grd:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
  }

  &.grd span:nth-child(1) {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 10px;
    background: -moz-linear-gradient(
      left,
      rgba(125, 185, 232, 0) 0%,
      #fecc2f 100%
    );
    background: -webkit-linear-gradient(
      left,
      rgba(125, 185, 232, 0) 0%,
      #fecc2f 100%
    );
    background: linear-gradient(
      to right,
      rgba(125, 185, 232, 0) 0%,
      #fecc2f 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr="#007db9e8",
        endColorstr="#1e5799",
        GradientType=1
      );
    animation: animate3 1.55s linear;
    animation-iteration-count: 2.5;
    animation-fill-mode: forwards;
  }

  @keyframes animate1 {
    0% {
      transform: translateX(-75%);
    }
    33% {
      transform: translateX(0%);
    }
    66% {
      transform: translateX(0%);
    }
    99% {
      transform: translateX(-70%);
    }
  }

  &.grd span:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: -moz-linear-gradient(
      left,
      #fecc2f 0%,
      rgba(125, 185, 232, 0) 100%
    );
    background: -webkit-linear-gradient(
      left,
      #fecc2f 0%,
      rgba(125, 185, 232, 0) 100%
    );
    background: linear-gradient(
      to right,
      #fecc2f 0%,
      rgba(125, 185, 232, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr="#1e5799",
        endColorstr="#007db9e8",
        GradientType=1
      );
    animation: animate3 1.55s linear;
    animation-iteration-count: 2.5;
    animation-fill-mode: forwards;
  }

  @keyframes animate3 {
    0% {
      transform: translateX(0%);
    }
    33% {
      transform: translateX(-75%);
    }
    66% {
      transform: translateX(-75%);
    }
    99% {
      transform: translateX(0%);
    }
  }
}


@media screen and (max-width: 768px) {
}
