.edit {
  flex-grow: 1;
  background: #fff;
  border-radius: 0 10px 10px 0;

  .horizontally-line {
    background: #ccc;
    height: 2px;
    border-radius: 2px;
    width: 900px;
    margin: 40px 0 20px 0;
  }

  .form-wrapper {
    margin: 0 auto;
    display: flex;
    .input-long {
      width: 346px;
    }
    .left-form {
      flex-grow: 1;
    }
    .right-form {
      flex-grow: 1;
    }
  }
}
